[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = {version = "==5.15.7", sys_platform = "== 'win32'"}
pyzmq = "==24.0.1"
tornado = "==6.1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
